<%-  include('partials/header'); -%>
<h1>Contact</h1>
<hr>
<table class="table table-striped">
  <tr>
    <td>Name </td>
    <td>Harsh Badera</td>
  </tr>
  <tr>
    <td>Email</td>
    <td><a href="mailto:baderaharsh@gmail.com">baderaharsh@gmail.com</a></td>
  </tr>
  <tr>
    <td>Address</td>
    <td>Shankar Niwas, Tidke Nagar,</td>
  </tr>
  <tr>
    <td></td>
    <td>Untwadi, Nashik.</td>
  </tr>
  <tr>
    <td></td>
    <td>Pin 422008</td>
  </tr>
</table>
<%-  include('partials/footer'); -%>
